@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Hola Mundo!</h1>
    <p>Bienvenido a mi primera app con ASP.NET Core MVC </p>

    <p>
        @Html.ActionLink("Ver listado de productos", "ListadoProductos", "Productos")
    </p>
</div>
